@import "tailwindcss";

#root {
  max-width: 1280px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 2rem;
}

input {
  background: var(--color-gray-200);
  color: var(--color-gray-900);
  padding: 2px;
}
